body{
	background-color: #F5F5F5;
	font-family: Arial, Helvetica, sans-serif;
}
hr{	
	border: none;
	background-color: #3FC1C9;
	height: 2px;		
}
h1{
    color: #3FC1C9;
}
h3{
    color: #3FC1C9;
}
img{
	border-radius: 50%;
}
